* {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.header,
.navbar,
.nav-container,
.nav-menu,
.logo,
.logo img,
.call-box,
.top-bar,
.top-container {
  /* border: 0 !important; */
  outline: 0 !important;
}